@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

@layer base {
  :root {
    --background: 220 17% 95%;
    --foreground: 228 23% 15%;
    --card: 0 0% 100%;
    --card-foreground: 228 23% 15%;
    --popover: 0 0% 100%;
    --popover-foreground: 228 23% 15%;
    --primary: 228 23% 21%;
    --primary-foreground: 0 0% 98%;
    --secondary: 220 13% 91%;
    --secondary-foreground: 228 23% 21%;
    --muted: 220 13% 91%;
    --muted-foreground: 220 9% 45%;
    --accent: 176 75% 41%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 13% 85%;
    --input: 220 13% 89%;
    --ring: 176 75% 41%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 228 23% 18%;
    --sidebar-foreground: 0 0% 90%;
    --sidebar-primary: 176 75% 41%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 228 23% 25%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 228 23% 25%;
    --sidebar-ring: 176 75% 41%;
  }
  .dark {
    --background: 228 23% 12%;
    --foreground: 0 0% 90%;
    --card: 228 23% 15%;
    --card-foreground: 0 0% 90%;
    --popover: 228 23% 15%;
    --popover-foreground: 0 0% 90%;
    --primary: 0 0% 98%;
    --primary-foreground: 228 23% 21%;
    --secondary: 228 23% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 228 23% 20%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 176 75% 41%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 228 23% 25%;
    --input: 228 23% 25%;
    --ring: 176 75% 41%;
    --sidebar-background: 228 23% 15%;
    --sidebar-foreground: 0 0% 90%;
    --sidebar-primary: 176 75% 41%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 228 23% 20%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 228 23% 25%;
    --sidebar-ring: 176 75% 41%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
